[shelf_scraper]
lc_url = https://lubimyczytac.pl
lc_login_url = https://lubimyczytac.pl/zaloguj/c
lc_profile_search_url = https://lubimyczytac.pl/account/getMoreSearchedAccountsNoSSL
lc_profile_url = https://lubimyczytac.pl/profil
lc_shelf_page_url = https://lubimyczytac.pl/profile/getLibraryBooksList
bb_url = https://widget.getbuybox.com/v3/1/buybox.json
retailers = []

[selenium]
nodes = 5
hub_url = selenium hub url

[library_scraper]
workbook_title = workbook title
libraries = ["4949", "5004"]
worksheet_headers = ["author", "title", "department", "section", "pages", "link"]

[libraries:4949]
id = 4949
url = http://185.43.138.133:8080/Opac4/
book_url_suffix = Opac4/faces/Opis.jsp?ido=
title = Opac
shelf_name = shelf name
accepted_locations = []

[libraries:5004]
id = 5004
url = https://katalog.rajska.info/catalog
base_url = https://katalog.rajska.info
title = Prolib Integro
shelf_name = shelf name
department = department name
accepted_locations = []
accepted_status = accepted status

[loggers]
keys = root, script

[handlers]
keys = console, script

[formatters]
keys = generic, script

[logger_root]
level = INFO
handlers = console
qualname =

[logger_script]
level = INFO
handlers = script
propagate = 0
qualname = script

[handler_console]
class = logging.StreamHandler
formatter = generic
args = (sys.stderr,)

[handler_script]
class = logging.StreamHandler
formatter = script
args = (sys.stderr,)

[formatter_generic]
format = %(asctime)-15s %(levelname)-5.5s [%(filename)s:%(lineno)s] [%(funcName)s] %(message)s
class = logging.Formatter

[formatter_script]
format = %(message)s
class = logging.Formatter
